
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:610px) {
    * {
        margin: auto ;
        box-sizing: border-box;
    } 
}
/* contenitore riga */

.flex-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:610px) {
    .flex-container{
        flex-direction: column;
        width: 72vh;
    } 
}
.container-circolare{
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width:610px) {
}

/* elementi riga */

.item{
    margin: auto;
    width: auto;
    height: auto;
}

/* proprietà generali vari elementi pagina */

body{
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,35,38,1) 30%);
}

.navbar{
    padding-top: 1%;
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: relative;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 54px;
}

@media screen and (min-width:610px) and (max-width:908px){
    .responsive{
        font-size: 2pt;
        display: block;
    }
    img{
        margin: 0 auto;
    }
}

h1{
    font-size: 40pt;
    margin: 2% 3%;
    font-family: 'Yeon Sung', cursive;
    text-transform: uppercase;
    font-weight: 100;
}
@media screen and (max-width:610px) {
    h1{
     margin: auto;
     text-align: center;
     font-size: 30pt;
     margin: 4% 0;
    }
 }
#target{
    font-weight: 800;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#background-effect{
    backdrop-filter: url(filters.svg#filter) saturate(200%);
}

.paragrafi{
    margin: 3% 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    text-align: center;
}


.bg-light-blue{
    background-color: rgb(25, 230, 140);
    color: #121212;
}


.footer{
    padding: 10px 10px 10px 10px;
    margin-top: 5%;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: right;    
    color: #6f6f6f;
}

/*.colore-figo-rosa{
    background: #03001e; 
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */

.bg-black{
    background: #000;
}

.txt-white{
    color: #ffffff;
}

.txt-green{
    color:#1ed760;
}

#image-index{
    width: auto;
    height: 400pt;
    display: flex;
}


.bg-sfumatura{
    background: linear-gradient(318deg, rgba(0,0,0,1) 0%, rgba(34,35,38,1) 83%);
}

#bg-parteinferiore{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,35,38,0) 90%);
}

#nome{
    font-size: 30pt;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase ;
}
@media screen and (max-width:610px) {
   #nome{
    margin: 5% 0;
   }
}

.platform{
    margin: 2% auto;
    width: 70vh;
    height: 75vh;
    border-radius: 15%;
    display: flex;
    border-style: double;
    border-color: aliceblue;
}
@media screen and (max-width:610px) {
    .platform{
        margin: 2% 10%;
        width: 60vh;
        height: 65vh;
    } 
}
@media screen and (min-width:610px) {
}


.mini-platform{
    margin: 2% auto;
    width: 30vh;
    height: 35vh;
    border-radius: 15%;
    display: flex;
    border-style: double;
    border-color: aliceblue;
}
.platform:hover{
    cursor: grabbing;
    border-color: #1ed760;
}
.mini-platform:hover{
    cursor: grabbing;
    border-color: #1ed760;
}

h2{
    font-size: 24pt;
    font-family: 'Yeon Sung', cursive;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5%;
}

.center{
    margin: 3% auto;
}


.project{
    font-size: 21pt;
    font-family: 'Yeon Sung';
    text-align: center;
    margin-top: 3%;
}

h3{
    font-size: 15pt;
    text-align: start;
    font-family: 'Yeon Sung';
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgb(51, 53, 57);
}

.font-big{
    font-size: 35pt;
    margin-top: 20%;
    text-align: center;
}


.elementi-elenco{
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 24pt;
    font-family: 'Yeon Sung', cursive;
    text-align: center;
}

.elementi-footer{
    margin: auto;
    list-style: none;
    font-size: 23pt;
    margin-top: 8%;
    padding: 2%;
}

.txt-grey{
    color: grey;
}

.interlinea{
    border-top: 2px double white;
}

.pulsante-footer{
    border: 2px double black;
    background-color: #000000;
    border-radius: 20pt;
}

.pulsante-footer:hover{
    border: 2px double #1ed760;
    color: white;
    cursor: pointer;
}

.dissolvenza{
    animation: dissolvenza 8s;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
  }
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: #1ed760;
    border:none;
}

.italic{
    font-style: italic;
}

.sottolineatura:hover{
    text-decoration: underline;
}
